# Compiled files
*.class

# Logs
*.log

# Build files
*.jar
*.war
*.ear

# Build folders
bin/
out/
target/

# IDE files
.vscode/
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# JVM crash logs
hs_err_pid*
replay_pid*